.black-list{
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}