body{
    background: rgba(255,218,185, 0.8)
}

.todo{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    background: teal;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
textarea {
    font-size: 20px;
    line-height: 25px;
    display: block;
    margin: 10px auto;
    width: 500px;
    height:100px;
}

input{
    display: block;
    margin: 0 auto;
    font-size: 15px;
}

button{
    display: block;
    margin: 10px auto;
    font-size: 15px;
    background: plum;
    font-weight: 700;
    border: 1px solid black;
}

h1{
    text-align: center;
    color: plum;
}

h3,
p{
    font-weight: bold;
    font-size: 20px;
}

.done{
    text-decoration: line-through;
}

img{
    width: 200px;
    height: 100px;
    border: 1px solid black;
}

#price{
    margin-bottom: 10px;
}

.edited-button{
    background: salmon;
}

#changeIt{
    display: none;
}

